@font-face {
  font-family: "Times New Roman";
  src: url(./fonts/TNR/TimesNewRomanMTStd.otf), format("otf"),
       url(./fonts/TNR/TimesNewRomanMTStd-Bold.otf), format("otf");
}

@font-face {
  font-family: "Liquid Crystal";
  src: url(./fonts/LC/LiquidCrystal-Normal.otf), format("otf"),
       url(./fonts/LC/LiquidCrystal-Bold.otf) format("otf");
}

:root {
  --pri: black;
  --sec: white;
  background-color: var(--pri);
  color: var(--sec);
  font-size: 10px;
}

.glwr-home {
  display: grid;
  grid-template-areas: 
  "gif"
  "link";
  grid-template-rows: 0.6fr 0.4fr;
  height: 100vh;
}

.rabbit {
  background-image: url(./media/GLWR-VERTICAL-CLOUD.gif);
  background-size: cover;
  background-position: center;
  grid-area: gif;
  width: 100%;
}

nav {
  grid-area: link;
  font-family: "Liquid Crystal";
  font-size: 4rem;
}

nav a {
  color: var(--sec);
}

.external {
  display: flex;
  justify-content: space-around;
}

.subnav {
  display: none;
}