@font-face {
  font-family: "Times New Roman";
  src: url(assets/fonts/TNR/TimesNewRomanMTStd.otf), format("otf"),
       url(assets/fonts/TNR/TimesNewRomanMTStd-Bold.otf), format("otf");
}

@font-face {
  font-family: "Liquid Crystal";
  src: url(assets/fonts/LC/LiquidCrystal-Normal.otf), format("otf"),
       url(assets/fonts/LC/LiquidCrystal-Bold.otf) format("otf");
}

@media only screen and (max-width: 767px) {
  .rabbit {
    background-image: url(./assets/media/GLWR-VERTICAL-CLOUD.gif);
  }

  .shimmer {
    height: 50px;
  }
}

@media only screen and (min-width: 1081px) {
  .rabbit {
    background-image: url(./assets/media/LENTICULAR-GLWR.gif)
  }

  .shimmer {
    height: 100px;
  }
}

:root {
  --pri: black;
  --sec: white;
  background-color: var(--pri);
  color: var(--sec);
  min-width: 300px;
  font-size: 10px;
}

.glwr-home {
  display: grid;
  grid-template-areas: 
  "gif"
  "link";
  grid-template-rows: 0.5fr 0.5fr;
  height: 100vh;
}

.rabbit {
  background-size: cover;
  background-position: center;
  grid-area: gif;
}

nav {
  grid-area: link;
  font-family: "Liquid Crystal";
}

nav a {
  color: var(--sec);
}

.external {
  display: flex;
  justify-content: space-around;
}

.subnav {
  display: none;
}

.subnav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 2.4rem;
  font-weight: 300; 
}

.shimmer {
  object-fit: cover;
  width: 100%;
}